.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/BREAKING_BAD_series_drugs_crime_drama_thriller_dark_poster_3840x2160.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 309px;
  min-height: 81px;
  animation-duration: 2000ms;
  margin: 259px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-image-1 {
  width: 53px;
  height: 53px;
  background-image: url("images/9421.jpg");
  background-position: 50% 50%;
  margin: 14px auto 0 7px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: -39px -11px 0 80px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  margin: 48px 128px 0 152px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 0px;
  line-height: 1.4;
  width: 714px;
  font-weight: 300;
  font-size: 1.875rem;
  font-family: Lato, sans-serif;
  text-transform: none;
  margin: 32px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 718px;
  margin: 259px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 78px;
}

.u-section-1 .u-container-layout-2 {
  padding: 8px 20px 8px 30px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 7px 0 rgba(71,138,201,0.7);
  margin: 0 auto 0 229px;
  padding: 15px 41px 15px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.375rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .u-section-1 .u-text-2 {
    width: 861px;
    margin-left: 52px;
    margin-right: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 31px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 99px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 29px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 620px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("images/pexels-kaboompics-com-5836.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 135px 178px 0;
}

.u-section-2 .u-text-2 {
  margin: 32px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 128px;
    margin-right: 128px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 73px;
    margin-right: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-2 .u-image-1 {
    min-height: 239px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: url("images/default-image.jpg");
  min-height: 792px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: normal;
  margin: 60px 162px 0;
}

.u-section-3 .u-text-2 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  margin: 27px 162px 0;
}

.u-section-3 .u-shape-1 {
  height: 202px;
  margin-top: 128px;
  margin-bottom: 0;
}

.u-section-3 .u-list-1 {
  min-height: 351px;
  width: 976px;
  margin: -281px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 18px);
  grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
  grid-gap: 27px 27px;
  grid-auto-rows: 100%;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-image-1 {
  height: 228px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-image-2 {
  height: 228px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-image-3 {
  height: 228px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 730px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-3 .u-list-1 {
    min-height: 289px;
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 18px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
  }

  .u-section-3 .u-image-1 {
    height: 219px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 219px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 219px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1105px;
  }

  .u-section-3 .u-text-1 {
    width: 525px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    min-height: 777px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 13.5px);
    grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
    grid-auto-rows: calc(66.66% - 9px);
  }

  .u-section-3 .u-image-1 {
    height: 256px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 256px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 256px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 56px;
    margin-right: 56px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 168px;
  }

  .u-section-3 .u-list-1 {
    min-height: 664px;
    width: 540px;
    margin-top: -321px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 18px);
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-3 .u-image-2 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: -124px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  background-image: url("images/9208a6ec3c0499b6897b8a9bf1482060.jpeg");
  min-height: 352px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 242px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 25px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 25px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 242px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-3 {
  width: 185px;
  font-weight: 400;
  margin: 25px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 25px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 242px;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  margin: 25px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 25px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 242px;
  background-image: none;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  margin: 25px 0 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    background-position: 50% 50%;
    min-height: 248px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 200px;
  }

  .u-section-4 .u-text-3 {
    width: 153px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 200px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    width: 117px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 348px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    width: 110px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 168px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 174px;
  min-width: 78px;
  white-space: nowrap;
  margin: 0 auto;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 68px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 102px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 64px;
  }
}
